@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.p {
    font-size: 60px;
}

.shadow {
    color: #fff;
    font-family: Arvo, sans-serif;
    font-weight: bold;
    text-shadow:
            -3px -3px 0 #494949,
            3px -3px 0 #494949,
            -3px 3px 0 #494949,
            3px 3px 0 #494949,
            4px 4px 0 #000000,
            5px 5px 0 #000000,
            6px 6px 0 #000000,
            7px 7px 0 #000000;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
}
.script {
    font-family: "Seaweed Script", sans-serif;
    color: #7c0000;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin:0;
}
.script span {
    background-color: #ffffff;
    padding: 0 0.3em;
}
.script:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 3px solid #000000;
}