.App {
  display: grid;

  grid-template-areas:
  "tls tl"
  "tls ntf";

  grid-template-rows: 2fr auto;
  grid-auto-columns: 3fr 10fr;
  grid-gap: 10px;
}
.TaskList {
  background-color: white;
  box-shadow: 2px 2px 2px #E6EDF7;
  grid-area: tl;
}

.NewTaskForm {
  grid-area: ntf;
  background-color: red;
}

.TodoListSidebar {
  background-color: white;
  box-shadow: 2px 2px #E6EDF7;
  grid-area: tls;
}